.statistics-panel {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  color: #f7f8fa;
}

.statistics-panel-title-container {
  height: 10px;
  display: table-row;
  vertical-align: top;
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  /*font-weight: bold;*/
}

.statistics-panel-title-container > .statistics-panel-title-content {
  padding-left: 10px;
  text-align: center;
}

.statistics-panel-value-container {
/*  line-height: 1;*/
  display: table-row;
  vertical-align: middle;
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 3em;
  font-weight: bold;
}

.statistics-panel-value-container>div {
  display: table-cell;
  vertical-align: middle;
}
.statistics-panel-value-container>div>.statistics-panel-value {
}
.statistics-panel-prefix {
  padding-right: 20px;
}

/*#flotGagueValue0 {
  font-weight: bold;
}
*/
.inline-block {
  display: inline-block;
}
