.statistics-panel {
  color: #f7f8fa;
  height: 100%;
  font-size: 30px;
}

.statistics-panel-title-container {
  height: 10%;
  text-align: center;
  z-index: 1;
  font-size: 1.5rem;
}

.statistics-panel-title-container > .statistics-panel-title-content {
  padding-left: 10px;
/*  height: 10%;*/
}

.statistics-panel-value-container {
  height: 90%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-size: 3em;
  font-weight: bold;
}




.statistics-panel-value-container .action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.statistics-panel-value-container-v {
  display: flex;
  flex-direction: row;
  align-items: center;
}





.statistics-panel-value-container .statistics-panel-prefix {
  padding-right: 20px;
}

.statistics-panel-value-container .statistics-panel-trendIndicator {
  margin-left: 20px;
}

/*#flotGagueValue0 {
  font-weight: bold;
}
*/
.inline-block {
  display: inline-block;
}

form label {
  text-align: left;
  font-weight: bold;
}

.panel-btn {
  color: #8e8e8e
}
.panel-btn:hover{
  color: inherit;
}
