<div class="section gf-form-group">
  <h5 class="section-heading">Coloring</h5>
  <div class="gf-form-inline">
    <gf-form-switch class="gf-form" label-class="width-8" label="Background" checked="ctrl.panel.colorBackground" on-change="ctrl.render()"></gf-form-switch>
    <gf-form-switch class="gf-form" label-class="width-4" label="Value" checked="ctrl.panel.colorValue" on-change="ctrl.render()"></gf-form-switch>
  </div>
  <div class="gf-form-inline">
    <div class="gf-form max-width-21">
      <label class="gf-form-label width-8">Thresholds
        <tip>Define two threshold values&lt;br /&gt; 50,80 will produce: &lt;50 = Green, 50:80 = Yellow, &gt;80 = Red</tip>
      </label>
      <input type="text" class="gf-form-input" ng-model="ctrl.panel.thresholds" ng-blur="ctrl.render()" placeholder="50,80"></input>
    </div>
  </div>
  <div class="gf-form">
    <label class="gf-form-label width-8">Colors</label>
    <span class="gf-form-label" ng-repeat="color in ctrl.panel.colors track by $index">
      <color-picker color="color" onChange="ctrl.onColorChange($index)"></color-picker>
    </span>
    <span class="gf-form-label">
      <a ng-click="ctrl.invertColorOrder()">
        Invert
      </a>
    </span>
  </div>
</div>
