<div class="section gf-form-group">
  <h5 class="section-heading">Panel Options</h5>
  <div class="gf-form">
    <span class="gf-form-label width-12">Panel Title</span>
    <input type="text" ng-model="ctrl.panel.subtitle" class="gf-form-input max-width-12" ng-change="ctrl.render()">
  </div>

  <div class="gf-form">
    <span class="gf-form-label width-12">Title Icon
      <info-popover mode="right-normal">The icon to be shown</info-popover>
    </span>
    <div class="gf-form-select-wrapper max-width-12">
      <select class="gf-form-input"
        ng-init="ctrl.panel.iconType = (ctrl.panel.iconType ? ctrl.panel.iconType : ctrl.iconTypesOptions[0])"
        ng-model="ctrl.panel.iconType"
        ng-options="iconType for iconType in ctrl.iconTypesOptions"
        ng-change="ctrl.render()"
        required>
      </select>
    </div>
  </div>
</div>
