<div class="modal-body" ng-cloak>
  <div class="modal-header">
    <h3 class="modal-header-title">
      <i class="fa fa-pencil"></i>
      <span class="p-l-1">Modify Value</span>
    </h3>
    <a class="modal-header-close" ng-click="dismiss()"><i class="fa fa-remove"></i></a>
  </div>

  <div class="modal-content text-center">
    <div class="server-response"></div>

    <div class="p-t-1 p-b-1">
      <form>

        <div class="m-b-1 inline-block">
          <div>
            <label>Device ID</label>
          </div>
          <div>
            <input id="form_device_id" type="number" class="gf-form-input width-16" placeholder="Insert the Device ID" />
          </div>
        </div>

        <div class="m-b-1 inline-block">
          <div>
            <label>Value</label>
          </div>
          <div>
            <input id="form_device_value" type="text" class="gf-form-input width-16" placeholder="Insert the desired value" />
          </div>
        </div>

        <div class="confirm-modal-buttons">
          <button type="button" class="btn btn-success"
            ng-click="ctrl.handleSendToRemote();"
            give-focus="true">Update</button>
          <button type="button" class="btn btn-inverse" ng-click="dismiss()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
