<div class="statistics-panel">
  <div ng-if='ctrl.panel.subtitle != "" || ctrl.panel.iconPosition === "title"' class="statistics-panel-title-container">
    <span ng-if='ctrl.panel.iconPosition === "title"' class="fa fa-{{ctrl.panel.iconType}}" ng-click="ctrl.handleClickTitle()"></span>
    <span ng-if='ctrl.panel.subtitle != ""' class="statistics-panel-title-content" ng-click="ctrl.handleClickTitle()">{{ctrl.panel.subtitle}}</span>
  </div>

  <div class="statistics-panel-value-container" ng-click="ctrl.handleClickActuation()">
  </div>
  <div class="statistics-panel-actuator" ng-if="ctrl.panel.allowActuation">
    <input class="slider"
      ng-click="ctrl.handleClickInput()"
      ng-model="ctrl.panel.inputValue"
      ng-init="ctrl.panel.inputValue = (ctrl.data.value ? ctrl.data.value : 0)"
      type="range" min="ctrl.panel.minValue"
      max="ctrl.panel.maxValue"
      value="ctrl.panel.inputValue"
      id="inputRange">
  </div>
</div>
