<div class="section gf-form-group">
  <div>
    <h5 class="section-heading">Spark lines</h5>
    <gf-form-switch class="gf-form" label-class="width-9" label="Show" checked="ctrl.panel.sparkline.show" on-change="ctrl.render()"></gf-form-switch>
    <div ng-if="ctrl.panel.sparkline.show">
      <gf-form-switch class="gf-form" label-class="width-9" label="Full height" checked="ctrl.panel.sparkline.full" on-change="ctrl.render()"></gf-form-switch>
      <div class="gf-form">
        <label class="gf-form-label width-9">Line Color</label>
        <span class="gf-form-label">
          <color-picker color="ctrl.panel.sparkline.lineColor" onChange="ctrl.onSparklineColorChange"></color-picker>
        </span>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-9">Fill Color</label>
        <span class="gf-form-label">
          <color-picker color="ctrl.panel.sparkline.fillColor" onChange="ctrl.onSparklineFillChange"></color-picker>
        </span>
      </div>
    </div>
  </div>
  <div>
    <h5 class="section-heading">Gauge</h5>
    <gf-form-switch class="gf-form" label-class="width-10" switch-class="max-width-6" label="Show" checked="ctrl.panel.gauge.show" on-change="ctrl.render()"></gf-form-switch>
    <div ng-if="ctrl.panel.gauge.show">
      <div class="gf-form">
        <label class="gf-form-label width-10">Min</label>
        <input type="number" class="gf-form-input width-6" placeholder="0" data-placement="right" ng-model="ctrl.panel.gauge.minValue" ng-change="ctrl.refresh()" ng-model-onblur>
        <label class="gf-form-label alert-state-critical" ng-show="ctrl.invalidGaugeRange">
          &nbsp; <i class="fa fa-warning"></i>
          Min value is bigger than max.
        </label>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-10">Max</label>
        <input type="number" class="gf-form-input width-6" placeholder="0" data-placement="right" ng-model="ctrl.panel.gauge.maxValue" ng-change="ctrl.refresh()" ng-model-onblur>
      </div>
      <gf-form-switch class="gf-form" label-class="width-10" switch-class="max-width-6" label="Threshold labels" checked="ctrl.panel.gauge.thresholdLabels" on-change="ctrl.render()"></gf-form-switch>
      <gf-form-switch class="gf-form" label-class="width-10" switch-class="max-width-6" label="Threshold markers" checked="ctrl.panel.gauge.thresholdMarkers" on-change="ctrl.render()"></gf-form-switch>
    </div>
  </div>
</div>
