<div class="modal-body" ng-cloak>
  <div class="modal-header">
    <h3 class="modal-header-title">
      <i class="fa fa-edit"></i>
      <span class="p-l-1">Modify Value</span>
    </h3>
    <a class="modal-header-close" ng-click="dismiss()"><i class="fa fa-remove"></i></a>
  </div>

  <div class="modal-content text-center">
    <div class="server-response"></div>

<!--     <div class="confirm-modal-text">
      Insert the new value
    </div> -->
    <div class="p-t-1 p-b-1">
      <span class="inline-block">
        <label>Value</label>
      </span>
      <span class="inline-block">
        <input type="text" class="gf-form-input width-16" ng-model="ctrl.panel.modalValue" placeholder="Type a value to update" />
      </span>
    </div>

    <div class="confirm-modal-buttons">
      <button type="button" class="btn btn-danger"
        ng-click="ctrl.handleSendToRemote();"
        give-focus="true">Update</button>
      <button type="button" class="btn btn-inverse" ng-click="dismiss()">Cancel</button>
    </div>
  </div>
</div>
